.site-main {
  overflow-x: clip;
}

.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: url(../assets/images/banner.png);
}
.banner__video, .banner__background {
  position: absolute;
  bottom: 0px;
  left: 0px;
  animation: banner-move-down 2s 300ms both;
}
@keyframes banner-move-down {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}
.banner__logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  opacity: 1;
  animation: banner-move-up 2s 300ms both, banner-float 6s 2s infinite ease-in-out;
}
@keyframes banner-move-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes banner-float {
  0% {
    transform: translate3d(6px, 6px, 0);
  }
  12% {
    transform: translate3d(0px, 6px, 0);
  }
  24% {
    transform: translate3d(6px, -4px, 0);
  }
  36% {
    transform: translate3d(6px, 0px, 0);
  }
  48% {
    transform: translate3d(-4px, -6px, 0);
  }
  60% {
    transform: translate3d(0px, -4px, 0);
  }
  72% {
    transform: translate3d(-8px, 6px, 0);
  }
  84% {
    transform: translate3d(-4px, 0px, 0);
  }
  100% {
    transform: translate3d(6px, 6px, 0);
  }
}
.section-oscars {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-oscars img {
  height: 100%;
}
.section-oscars::before {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0;
}
.section-oscars::after {
  content: url("../assets/images/orchid.png");
  position: relative;
  right: -17em;
  top: -15em;
}
.section-oscars h3 {
  background: url("../assets/images/Bg_oscars.png") no-repeat center center;
  line-height: 3.2rem;
  text-align: left;
  max-width: 50%;
}
@media screen and (max-width: 960px) {
  .section-oscars {
    flex-direction: column;
  }
  .section-oscars h3 {
    max-width: 100%;
    line-height: 1.6rem;
  }
}

.oscar_img {
  width: 279px;
  height: 129px;
}

.site-footer::after {
  visibility: hidden;
}
.site-footer::before {
  visibility: hidden;
}

.title-oscars img {
  height: 100%;
}

.section-oscars {
  opacity: 0;
  animation: oscars-moveUp 3s forwards;
}

@keyframes oscars-moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* -------------------- Responsive ----------------------- */
@media screen and (max-width: 1192px) {
  .section-oscars h3 {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
:root {
  --rotate: 10s;
}

.story h2::after {
  width: 155px;
  height: 154px;
}

.story__article::after,
.elemento-con-animacion::after,
.site-footer ul::after,
.story h2::after,
.section-oscars::before,
.section-oscars::after,
#colophon.site-footer::before,
#colophon.site-footer::after,
#studio h2::before,
.modal ::after,
#studio h2::after {
  animation: fleur var(--rotate) linear infinite;
}

@keyframes fleur {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --rotate: 15s;
  --posX: 0;
}

.hidden {
  opacity: 0;
}

#page {
  position: relative;
}

.story,
.studio,
#characters {
  animation: move_up 3s ease;
}

@keyframes move_up {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/************* titre H2 et H3 ***************/
.story #characters {
  margin: 6em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.story > h2 {
  color: transparent;
  height: 202px;
  z-index: -1;
  width: 100%;
}
.story > h2 span {
  position: absolute;
  color: #fff5e9;
  opacity: 0;
  z-index: 4;
  top: 100px;
}

.studio > h2 {
  color: transparent;
  height: 202px;
  z-index: -1;
  width: 100%;
}
.studio > h2 span {
  position: absolute;
  color: #fff5e9;
  opacity: 0;
  z-index: 4;
  top: 100px;
}

#characters > h3 {
  color: transparent;
  height: 202px;
  z-index: -1;
  position: relative;
  width: 40%;
}
#characters > h3 span {
  width: 100%;
}
#characters span {
  position: absolute;
  color: #fff5e9;
  opacity: 0;
  z-index: 4;
  top: 100px;
}

#place h3 {
  color: transparent;
  height: 202px;
  z-index: 4;
  position: relative;
  width: 40%;
}
#place span {
  position: absolute;
  color: #fff5e9;
  opacity: 0;
  z-index: 4;
  top: 100px;
  width: 100%;
}

/******************** Media query : max-width: 894px ********************/
@media all and (max-width: 894px) {
  .characters__title {
    font-size: 1.6rem;
  }
  .studio__title,
  .section-oscars h3 {
    font-size: 2.5rem;
  }
  .section-oscars {
    overflow: hidden;
  }
  .studio__title {
    font-size: 2.5rem;
  }
  .banner__video {
    display: none;
  }
}
.animTitle {
  animation: animTitle 1s 1s forwards;
}

@keyframes animTitle {
  0% {
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}
/*       story et LIEU       */
:root {
  --posX: 0;
}

.story #place {
  position: relative;
  background-image: url("../assets/images/image_place.png");
  z-index: -1;
}

#place .place--big_cloud {
  position: absolute;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  z-index: 2;
  height: 122px;
  top: 70px;
  right: 90px;
  transform: translateX(var(--posX));
}
#place .place--little_cloud {
  position: absolute;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  z-index: 2;
  height: 55px;
  top: 250px;
  right: 500px;
  transform: translateX(var(--posX));
}

/*      SWIPER      */
.story #characters {
  position: relative;
  margin-bottom: 0 !important;
  z-index: 40;
}
.story #characters div {
  flex: none;
}

.swiper-container {
  width: 100%;
  opacity: 1;
  margin-bottom: 7em;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide figure {
  display: block;
  width: 100%;
  object-fit: cover;
}

/***********   Navigation  *************/
.main-navigation.toggled ul {
  display: flex !important;
}

#site-navigation {
  position: relative;
}

.modal__burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 5em;
  cursor: pointer;
}
.modal__burger .line {
  height: 2px;
  background-color: #000;
  display: block;
  width: 100%;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.modal__burger.close .line:nth-child(2) {
  opacity: 0;
}
.modal__burger.close .line:first-child {
  transform: rotate(45deg) translate3d(8px, 6px, 0);
}
.modal__burger.close span.line:last-child {
  transform: rotate(-45deg) translate3d(8px, -6px, 0);
}

/************** MODAL ***************/
.modal {
  font-family: "Roboto Mono", monospace;
  font-size: 0.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  /**********   CAT - MODAL   *************/
  /*************   FLOWER - MODAL   **************/
}
.modal h2,
.modal li > a {
  font-size: 3.1rem;
}
.modal .modal__content {
  position: relative;
  width: 100%;
  height: 91vh;
  background: #fff5e9;
  font-size: 3em;
  display: none;
}
.modal .modal__content--logo {
  margin: 40px;
  width: 154px;
  filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
  -moz-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
}
.modal .modal__content ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  gap: 1em;
}
.modal .modal__content li > a:hover {
  filter: drop-shadow(0px 0px 5px #ff5c00);
  -webkit-filter: drop-shadow(0px 0px 5px #ff5c00);
  -moz-filter: drop-shadow(0px 0px 5px #ff5c00);
}
.modal .modal__content--footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.modal__content--story::before {
  content: url("../assets/images/Kawaneko.png");
  position: absolute;
  right: 20em;
  bottom: -3em;
  animation: banner-float 7s 100ms infinite ease-in-out;
  /* transform: scale(0.7); */
}
.modal__content--place::before {
  content: url("../assets/images/Jaakuna.png");
  position: absolute;
  left: 20em;
  top: -4em;
  animation: banner-float 6s 200ms infinite ease-in-out;
  /* transform: scale(0.7); */
}
.modal__content--footer::before {
  content: url("../assets/images/Orenjiiro.png");
  position: absolute;
  right: 30em;
  bottom: 0;
  animation: banner-float 5s 300ms infinite ease-in-out;
  /* transform: scale(0.7); */
}
.modal__content::after {
  content: url("../assets/images/orchid.png");
  position: absolute;
  left: -4em;
  top: 3em;
  transform: scale(0.8);
}
.modal__content--story::after {
  content: url("../assets/images/Sunflower.png");
  position: absolute;
  left: 24em;
  bottom: 0em;
}
.modal__content--characters::after {
  content: url("../assets/images/random_flower.png");
  position: absolute;
  left: 54em;
  top: -2em;
  transform: scale(0.3);
}
.modal__content--place::after {
  content: url("../assets/images/flower.png");
  position: absolute;
  right: 28em;
  top: -2em;
  transform: scale(0.5);
}
.modal__content--footer::after {
  content: url("../assets/images/hibiscus_footer.png");
  position: absolute;
  left: 500px;
  bottom: -23.5em;
}

/*    Media query : max-width: 700px    */
@media all and (max-width: 700px) {
  .main-navigation {
    height: 80px;
  }
  .main-navigation ul {
    display: flex !important;
  }
  /* CAT - MODAL */
  .modal__content--story::before,
  .modal__content--place::before,
  .modal__content--footer::before,
  .modal__content::after,
  .modal__content--story::after,
  .modal__content--characters::after,
  .modal__content--place::after,
  .modal__content--footer::after {
    content: "";
  }
}

/*# sourceMappingURL=theme.css.map */
