:root {
  --rotate: 10s;
}
.story h2::after {
  width: 155px;
  height: 154px;
}

// animation fleurs //
.story__article::after,
.elemento-con-animacion::after,
.site-footer ul::after,
.story h2::after,
.section-oscars::before,
.section-oscars::after,
#colophon.site-footer::before,
#colophon.site-footer::after,
#studio h2::before,
#studio h2::after {
  animation: fleur var(--rotate) linear infinite;
}

