// Banner
.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;

  &__background {
    z-index: -2;
    opacity: 1;
    left: auto !important;
    max-width: 100%;
    overflow: hidden;
  }

  &__video,
  &__background {
    position: absolute;
    bottom: 0px;
    left: 0px;
    min-width: 1440px !important;
    animation: banner-move-down 2s 300ms both;
  }

  &__logo {
    position: sticky;
    top: 80px;
    z-index: 10;
    opacity: 1;
    animation: banner-move-up 2s 300ms both,
      banner-float 6s 2s infinite ease-in-out;
  }
}
