
/***********   Navigation  *************/

.main-navigation.toggled ul {
  display: flex !important;
}

#site-navigation {
  position: relative;
}

.modal__burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 8px;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 5em;
  cursor: pointer;

  .line {
    height: 2px;
    background-color: #000;
    display: block;
    width: 100%;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }

  &.close {
    .line:nth-child(2) {
      opacity: 0;
    }

    .line:first-child {
      transform: rotate(45deg) translate3d(8px, 6px, 0);
    }

    span.line:last-child {
      transform: rotate(-45deg) translate3d(8px, -6px, 0);
    }
  }
}


/************** MODAL ***************/

.modal {
  font-family: "Roboto Mono", monospace;
  font-size: 0.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  h2,
  li > a {
    font-size: 3.1rem;
  }

  .modal__content {
    position: relative;
    width: 100%;
    height: 91vh;
    background: #fff5e9;
    font-size: 3em;
    display: none;

    &--logo {
      margin: 40px;
      width: 154px;
      filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
      -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
      -moz-filter: drop-shadow(0px 0px 10px rgba(255, 92, 0, 0.6));
    }

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      height: 300px;
      gap: 1em;
    }

    & li > a:hover {
      filter: drop-shadow(0px 0px 5px #ff5c00);
      -webkit-filter: drop-shadow(0px 0px 5px #ff5c00);
      -moz-filter: drop-shadow(0px 0px 5px #ff5c00);
    }

    &--footer {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 40px;
    }
  }

  /**********   CAT - MODAL   *************/
  
  &__content--story::before {
    content: url("../assets/images/Kawaneko.png");
    position: absolute;
    right: 20em;
    bottom: -3em;
    animation: banner-float 7s 100ms infinite ease-in-out;
    /* transform: scale(0.7); */
  }

  &__content--place::before {
    content: url("../assets/images/Jaakuna.png");
    position: absolute;
    left: 20em;
    top: -4em;
    animation: banner-float 6s 200ms infinite ease-in-out;
    /* transform: scale(0.7); */
  }

  &__content--footer::before {
    content: url("../assets/images/Orenjiiro.png");
    position: absolute;
    right: 30em;
    bottom: 0;
    animation: banner-float 5s 300ms infinite ease-in-out;
    /* transform: scale(0.7); */
  }

  /*************   FLOWER - MODAL   **************/
  &__content::after {
    content: url("../assets/images/orchid.png");
    position: absolute;
    left: -4em;
    top: 3em;
    transform: scale(0.8);
  }

  &__content--story::after {
    content: url("../assets/images/Sunflower.png");
    position: absolute;
    left: 24em;
    bottom: 0em;
  }

  &__content--characters::after {
    content: url("../assets/images/random_flower.png");
    position: absolute;
    left: 54em;
    top: -2em;
    transform: scale(0.3);
  }

  &__content--place::after {
    content: url("../assets/images/flower.png");
    position: absolute;
    right: 28em;
    top: -2em;
    transform: scale(0.5);
  }

  &__content--footer::after {
    content: url("../assets/images/hibiscus_footer.png");
    position: absolute;
    left: 500px;
    bottom: -23.5em;
  }
}

/*    Media query : max-width: 700px    */

@media all and (max-width: 700px) {
  
  .main-navigation {
    height: 80px;
  }

  .main-navigation ul {
    display: flex !important;
  }

  /* CAT - MODAL */
  .modal__content--story::before,
  .modal__content--place::before,
  .modal__content--footer::before,
  /* FLOWER - MODAL */
  .modal__content::after,
  .modal__content--story::after,
  .modal__content--characters::after,
  .modal__content--place::after,
  .modal__content--footer::after {
    content: "";
  }
}
