/*      SWIPER      */
.story {
    #characters {
        position: relative;
        margin-bottom: 0 !important;
        z-index: 40;
        div {
            flex: none;
        }
    }
}
.swiper-container {
    width: 100%;
    height: 420px;
    opacity: 1;
    margin-bottom: 7em;
    overflow: hidden;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}