section {
  animation: move_up 1s ease;
}
@keyframes move_up {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.section-oscars{
  opacity: 0;
  animation: moveUp 3s forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
}
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
