/*----.section-oscars------*/
.section-oscars {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  margin: 0 auto; 
  & h3 {
    background-image: url("../assets/images/backgroung-oscars.png");
    background-size: 100%;
    text-align: left;
    padding: 100px 84px;
  }

  & img {
    margin-top: 100px;
    height: 129px;
  }
}

@media screen and (max-width: 870px) {
  .section-oscars {
    flex-direction: column;
    align-items: center;
  }

  .section-oscars img {
    width: 278px;
    margin-top: 0px;
  }

  .section-oscars h3 {
    font-size: 2em;
  }
}
.section-oscars::before {
  content: url(../assets/images/Sunflower.png);
  position: absolute;
  left: 10em;
  top: -3em;
}

.section-oscars::after {
  content: url(../assets/images/orchid.png);
  position: absolute;
  right: -5em;
  bottom: 22em;
  overflow: hidden;
}

.site-footer::before,.site-footer::after{
  display: none;
}

@media screen and (min-width: 870px) and (max-width: 1000px) {
  .section-oscars h3 {
    font-size: 2em;
  }
}
/*----fin section-oscars------*/