.story__article {
  transform: translate(-50%, -50%);
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
